
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;/* 'Outfit', sans-serif; */
    }
body{
    height: 100vh;
}
main {
    padding-left: 62px;
}

/* footer */
footer {
    background-color: rgb(32, 42, 42); 
    text-align: center;
    padding-bottom: 30px;
}
footer p {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    color: #fff;
    max-width: 300px; 
    margin: 0 auto;
    margin-top: 5px;
    font-size: 14px;
}
.footer-title {
    text-align: center;
}

footer img {
    width: 60px; 
    margin: 5px;
}
.footer-title {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}
.footer-section {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px; 
}

h2 {
    text-align: left;
    max-width: 40%;
    margin-left: 4.5%;
    margin-bottom: 10px;
    font-size: 2.2rem;
}
h3 {
    text-align: left;
    margin-left: 7%;
    margin-bottom: 10px;
    font-size: 1.9rem;
}
h4 {
    text-align: left;
    margin-left: 5px;
    margin-bottom: 15px;
    font-size: 1.2rem;
}
/* NAVBAR */

nav.menu-lateral{
    width: 61px;
    height: 100%;
    left: 0;
    background-color:rgb(32, 42, 42);
    backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px);
 
    padding: 15px 0 40px 1px;
    box-shadow: 3px 0 0 rgb(165, 12, 145);

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 10;
    transition: .3s;
}
nav.menu-lateral.expandir{
    width: 250px;
}
.btn-expandir{
    width: 100%;
    padding-left: 8px;
}
.btn-expandir > i{
    color: white;
    font-size: 26px;
    cursor:pointer;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu{
    transition: .4s;
}
ul li.ativo{
    background-color: rgb(165, 12, 145);
}
/* 
ul li.ativo a {
    color: black; 
}
ul li.ativo a .txt-link {
    color: black; 
}
ul li.ativo a .icon .svg-icon {
    filter: brightness(0) saturate(100%); 
} 

ul li a:hover {
    color: black; 
}
ul li a .txt-link:hover {
    color: black; 
}
ul li a .icon .svg-icon:hover {
    filter: brightness(0) saturate(100%); 
}

ul li.ativo a .icon i {
    color: black;
}
*/
ul li.item-menu:hover{
    background: rgb(165, 12, 145);
}
ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 6px;
    display: flex;
    margin-bottom: 3px;
    line-height: 35px;
}
ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}
nav.menu-lateral.expandir .txt-link{
    margin-left: 30px;
    opacity: 1;
}
ul li.item-menu a .icon > i{
    font-size: 26px;
    margin-left: 10px;
}

.svg-icon {
    height: 25px;
    margin-left: 10px;
    margin-top: 4px;
   /* filter: invert(100%); */
    
}
/* FIM DA NAVBAR */

/* CONTEUDO HOME */
.logo {
    display: flex;
    margin-left: auto;
    margin: 10px auto;
    width: 90vw;
    max-width: 750px;
    margin-left: 6.7%;
    padding: 40px 70px 20px 0;
}
.about-ori {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.container {
    box-sizing: border-box;
    display: block;
    max-width: 95%;
    min-height: 100vh;
    align-items: center; 
}

.card-grid {
  display: grid;
  gap: 10px;
  margin-left: 4.5%;
  padding: 0rem;
  width: 91%;
  max-width: 2500px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.card {
  color: white;
  max-width: 100%;
  background-color:rgb(32, 42, 42);
  backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px);
  border-radius: 0.5rem;
 /**/  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: justify;
  font-size: 1.1rem;
  transition: transform 0.2s ease; 
  animation-duration: 1s;
}
.card p {
    font-size: 1.15rem;
    font-family: 'Open Sans', sans-serif;
   
    font-weight: 500;
    line-height: 1.45;     /* Espaçamento entre linhas  font-family: 'Quicksand', sans-serif; */
    letter-spacing: 0.01rem;  /* Espaçamento entre letras */
    word-spacing: 0.08rem; 
}

